<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}">

    <!-- favicon -->
    <link href="{{ site.baseurl }}/favicon.png" rel=icon>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-104092499-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <!-- bootstrap -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- font-awesome -->
    <link href="{{ site.baseurl }}/css/fontawesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/solid.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/brands.min.css" rel="stylesheet">

    <!-- academicons -->
    <link href="{{ site.baseurl }}/css/academicons.min.css" rel="stylesheet">

    <!-- Style CSS -->
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  </head>
  <body>
    {{ content }}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="{{ site.baseurl }}/js/jquery-3.3.1.slim.min.js"></script>
    <!-- Popper before Bootstrap -->
    <script src="{{ site.baseurl }}/js/popper.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

    <script src="{{ site.baseurl }}/js/script.js"></script>
  </body>
</html>

